<div class="neo-layout">
        <neo-header [colapsableSidebar]="true">
          <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
        </neo-header>
        <neo-pull-to-refresh [scrolledElement]="scrolledElement"></neo-pull-to-refresh>
        <neo-mobile-sidebar *ngIf="isMobile">
          
          <label class="image-item ">
            <img src="assets/img/logo-lg.png" />
          </label>
          <mat-divider></mat-divider>
          <mat-list>
              <mat-list-item> Opción 1 </mat-list-item>
              <mat-list-item> Opción 2 </mat-list-item>
              <mat-list-item> Opción 3 </mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-list>
              <mat-list-item> Configuración </mat-list-item>
              <mat-list-item> Cerrar sesión </mat-list-item>
          </mat-list>
          <!-- <div class="list-group border-top">
              <a href="#" class="list-group-item list-group-item-action">Opción 1</a>
              <a href="#" class="list-group-item list-group-item-action">Opción 2</a>
              <a href="#" class="list-group-item list-group-item-action">Opción 3</a>
            </div> -->
          <!-- <div class="list-group border-top">
            <a href="#" class="list-group-item list-group-item-action">Configuracion</a>
            <a href="#" class="list-group-item list-group-item-action">Cerrar Sesión</a>
          </div> -->
        </neo-mobile-sidebar>
        <neo-mobile-notification-bar *ngIf="isMobile">
          <div class="mt-1" *ngFor="let noti of this.notifications">
            <neo-slider *ngIf="noti.show" [leftIcon]="'fas fa-archive'" [leftText]="''" [rightIcon]="'fas fa-trash'"
              [rightText]="''" [leftBackground]="'neo-slider-primary'" [rightBackground]="'neo-slider-secondary'"
              (notifySwipeLeft)="onNotifySwipeLeft(noti)" (notifySwipeRight)="onNotifySwipeRight(noti)"
              [neoUndoElements]="undoMessage" [undo]="onUndo" [undoTimeOut]="undoTimeOut"
              [undoTimeOutLapse]="undoTimeOutLapse" [undoActionText]="actionText">
              <!--[neoUndo]="neoUndo"-->
              <mat-card>
                  <p>{{noti.text}}</p>
              </mat-card>
            </neo-slider>
          </div>
        </neo-mobile-notification-bar>
        <div class="d-flex flex-row align-items-stretch h-100">
          <div class="d-none d-lg-flex overflow-auto">
            <neo-sidebar>
              <ng-container ngProjectAs="full-sidebar">
                <!-- <div class="list-group list-open-toggle">
                  <a href="#" class="list-group-item list-group-item-action active">
                    Cras justo odio
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                  <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                  <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                  <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                </div> -->
                <mat-list>
                    <mat-list-item> Dapibus ac facilisis in </mat-list-item>
                    <mat-list-item> Morbi leo risus </mat-list-item>
                    <mat-list-item> Porta ac consectetur ac</mat-list-item>
                    <mat-list-item> Vestibulum at eros</mat-list-item>
                </mat-list>
              </ng-container>
              <ng-container ngProjectAs="small-sidebar">
                <!-- <div class="list-group list-close-toggle">
                  <a href="#" class="list-group-item list-group-item-action active">
                    Cr
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">D</a>
                  <a href="#" class="list-group-item list-group-item-action">M</a>
                  <a href="#" class="list-group-item list-group-item-action">P</a>
                  <a href="#" class="list-group-item list-group-item-action disabled">V</a>
                </div> -->
                <mat-list>
                  <mat-list-item> D </mat-list-item>
                  <mat-list-item> M </mat-list-item>
                  <mat-list-item> P</mat-list-item>
                  <mat-list-item> V</mat-list-item>
              </mat-list>
              </ng-container>
            </neo-sidebar>
          </div>
          <div class="flex-grow-1 h-100 overflow-auto pt-5" #scrolledElement>
            <div class="container-fluid">
      
              <div class="form-group">
                <!-- <input class="form-control" placeholder="Search..." #input> -->
                <input matInput placeholder="Search ..." #input>
              </div>
      
              <section class="list-group">
                  <mat-list>
                <neo-list #listC (leaveItem)="onDeactive($event)" (activeIndexChange)="onActive($event)"
                  [activeIndex]="lastIndexSelected" [neoListKeydown]="input" [icommand]="testItemCmd" class="list-group"
                  [commandOnClick]="true" [commandOnEnter]="true">
                  <neo-list-item *ngFor="let user of users" class="list-group-item" [item]="user">
                    <mat-list-item> {{user.name }}</mat-list-item>
                  </neo-list-item>
                </neo-list>
              </mat-list>
              </section>
      
              <section>
                <div class="mt-3 form-group">
                  <h5>Notificaciones</h5>
                </div>
                <div class="mt-1" *ngFor="let noti of this.notifications">
                  <neo-slider *ngIf="noti.show" [leftIcon]="'fas fa-archive'" [leftText]="''" [rightIcon]="'fas fa-trash'"
                    [rightText]="''" [leftBackground]="'neo-slider-primary'" [rightBackground]="'neo-slider-secondary'"
                    (notifySwipeLeft)="onNotifySwipeLeft(noti)" (notifySwipeRight)="onNotifySwipeRight(noti)"
                    [neoUndoElements]="undoMessage" [undo]="onUndo" [undoTimeOut]="undoTimeOut"
                    [undoTimeOutLapse]="undoTimeOutLapse" [undoActionText]="actionText">
                    <!--[neoUndo]="neoUndo"-->
                    <mat-card>
                        <p>{{noti.text}}</p>
                    </mat-card>
                  </neo-slider>
                </div>
              </section>
              <section>
                <div class="mt-3">
                  <table class="table" sortable-table (sorted)="onSorted($event)">
                    <thead>
                      <tr>
                        <th sortable-column="age">Age</th>
                        <th sortable-column="name">First Name</th>
                        <th sortable-column="lastname">Last Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let c of personList">
                        <td>{{c.age}}</td>
                        <td>{{c.name}}</td>
                        <td>{{c.lastname}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </section>
              <section>
                <div class="mt-3">
       
                </div>
              </section>
      
            </div>
          </div>
          <neo-undo></neo-undo>
          <neo-footer [smButtons]="buttons">
            <div class="d-flex justify-content-center align-items-center">
              <label>Mail &nbsp;</label>
              <label> Phone &nbsp;</label>
              <label>Other Info</label>
              <label> &nbsp; Version:</label>
            </div>
          </neo-footer>
        </div>