/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import 'dist/ngx-neo-components/styles/main.scss';

.lg-logo{
  width: 150px;
  height: 24px;
}


.neo-navbar {
  background-color: white;
  .nav-link {
    color: black;
  }
  border-bottom: 1px solid #e1e1e1;
}

.neo-footer {
  background: #ffffff !important;
  color: black;
  border-top: 1px solid #e1e1e1;
}


.image-item {
  padding: 1rem 0.5rem 0;
  img {
    width: 200px;
  }
}

.mobile-sidebar {
  .list-group {
    a.list-group-item {
      background: #f5f5f5;
      border: 0;
      color: $stl-color-primary;
    }

    a:hover {
      background: darken(#f5f5f5, 3%);
    }

    a.router-link-active {
      background: $stl-color-background;
      border-bottom: 3px solid grey !important;
    }

    a.router-link-active:hover {
      background: grey;
    }
  }

}

.footer-button.ripple {
  background-color: #ffffff;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background:  #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
}
.ripple:active {
  background-color: darken( #ffffff, 7%);
  background-size: 100%;
  transition: background 0s;
}

.return-arrow {
  border: none;
  background: none;
  outline: none;
  margin-left: 5px;
  .fa-arrow-left {
    font-size: 1.3rem;
  }
}
